In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#To find Max,min,sum,reverse Value in an Array
arr=[1,2,43,2,4,5,7,88,2,90]
print("maximum value in the array is",max(arr))
print("manimum value in the array is",min(arr))
print("Sum of values in the array is",sum(arr))
print("Reversed array is",arr[::-1])
print("Count of 2 in array is ",arr.count(2))

maximum value in the array is 90
manimum value in the array is 1
Sum of values in the array is 244
Reversed array is [90, 2, 88, 7, 5, 4, 2, 43, 2, 1]
Count of 2 in array is  3

In [ ]:
#Merge array Elements
arr1=[1,2,43,2,4,5,7,88,90]
arr2=[3,4,22,55,7,3,4,5,5,7]
print("Merged array is",arr1+arr2)

Merged array is [1, 2, 43, 2, 4, 5, 7, 88, 90, 3, 4, 22, 55, 7, 3, 4, 5, 5, 7]

In [ ]:
#Array without duplicates
arr=[1,2,43,2,4,5,7,88,90]
print("without duplicates \n",list(set(arr)))

without duplicates
 [1, 2, 4, 5, 7, 43, 88, 90]

In [ ]:
arr=[1,2,43,2,4,5,7,88,20,99,90]
arr.sort()
print("The second largest number in the arr is",arr[-2])

The second largest number in the arr is 90

In [ ]:
#Array with nan Values
arr=[1,np.nan,43,2,4,np.nan,7,88,None]
print(arr)

[1, nan, 43, 2, 4, nan, 7, 88, None]

In [ ]:
arr=[1,2,43,2,4,5,7,88,20,99,90]
#Printting original array
print(arr)
#Appending value to array Syntax:arr.extend(more than 1 element in list format)
arr.append(100)
arr.extend([1,220])
print(arr)
#Inserting array element in specified position
arr.insert(0,25)
print(arr)
#Upadating elements
arr[5]=7
print(arr)
#Removing element 43
arr.remove(43)
print(arr)
#Removing last element
arr.pop()
#Removing particular element Syntax:arr.pop(index)
arr.pop(1)
print(arr)

[1, 2, 43, 2, 4, 5, 7, 88, 20, 99, 90]
[1, 2, 43, 2, 4, 5, 7, 88, 20, 99, 90, 100, 1, 220]
[25, 1, 2, 43, 2, 4, 5, 7, 88, 20, 99, 90, 100, 1, 220]
[25, 1, 2, 43, 2, 7, 5, 7, 88, 20, 99, 90, 100, 1, 220]
[25, 1, 2, 2, 7, 5, 7, 88, 20, 99, 90, 100, 1, 220]
[25, 2, 2, 7, 5, 7, 88, 20, 99, 90, 100, 1]

In [ ]:
#Iterating array elements
arr=[1,2,43,2,4,5,7,88,20,99,90]
for ele in arr:
  print(ele)
#searching an element
if(arr.index(7)):
  print("element exists")

1
2
43
2
4
5
7
88
20
99
90
element exists

In [ ]:
#store all even Numbers in another array
arr=[1,2,43,2,4,5,7,88,20,99,90]
EvenArr=[]
arr=list(set(arr))
print(arr)
# for i in range(0,len(arr)-1):
#   if(arr[i]%2==0):
#     EvenArr.append(arr[i])
# print(EvenArr)
for i in arr:
  if(i%2==0):
    EvenArr.append(i)
print(EvenArr)

[1, 2, 99, 4, 5, 7, 43, 20, 88, 90]
[2, 4, 20, 88, 90]

In [ ]:
#Copying arr to another array
import copy
arr=[1,2,43,2,4,5,7,88,20,99,90]
copiedArr=arr.copy()
print("Using copy method ",copiedArr)
newarr=copy.deepcopy(arr)
print("Using deep copy method ",newarr)

Using copy method  [1, 2, 43, 2, 4, 5, 7, 88, 20, 99, 90]
Using deep copy method  [1, 2, 43, 2, 4, 5, 7, 88, 20, 99, 90]

In [ ]:
arr=[1,2,43,2,4,5,7,88,20,99,90]
#Using reverse()
arr.reverse()
print("Using reverse method ",arr)
#Using reversed(array)
print("Using reversed method ",list(reversed(arr)))

Using reverse method  [90, 99, 20, 88, 7, 5, 4, 2, 43, 2, 1]
Using reversed method  [1, 2, 43, 2, 4, 5, 7, 88, 20, 99, 90]